<launch>
    <arg name="world_number"     default=""/>
    <arg name="gui"     default="true"/>
    <arg name="world_file"  default="/YOUR_PATH/world/project.world"/>
    <arg name="map_file"    default="/YOUR_PATH/world/map/project_map"/>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="gui"         value="$(arg gui)"/>
        <arg name="world_file"      value="$(arg world_file)$(arg world_number).world"/>
    </include>
    <include file="YOUR_PATH/launch/simulated_localisation.launch">
        <arg name="map_file"        value="$(arg map_file)$(arg world_number).yaml"/>
    </include>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz"/>
</launch>